body {
    font-family: "Outfit", serif;
    background-color: hsl(212, 45%, 89%);
}

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.code-scanner { 
    padding: 0.8rem 0.7rem 1rem;
    max-width: 12rem;
    background-color: white;
    border-radius: 15px;
}

.code-scanner-image img {
    border-radius: 10px;
    max-width: 100%;
}

.code-scanner-info {
    text-align: center;
    line-height: 1.5;
}

.code-scanner-info .intro {
    font-weight: 700;
    margin-top: 0.625rem;
    font-size: 15px;
}

.code-scanner-info .cta {
    font-weight: 300;
    font-size: 12px;
}